:root {
    --color-primario: red;
    --color-secundario: blue;
    --color-oscuro: #080807;
    --color-claro: #fcfcfc;
    --fuente-principal: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--fuente-principal);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 20px 50px;
    background-color: var(--color-oscuro);
    color: #e3e9e3;
    font-weight: bold;
}


.navbar a {
    color: #e3e9e3;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.navbar a:hover {
    color: var(--color-primario);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url('../img/hero-bd.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    color: white;
    padding: 10px;
    position:relative;
    box-shadow: 0 2px 20px rgb(168, 17, 17);
    transition: 0.5s;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: var(--color-primario);
    color: rgb(255, 255, 255);
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}


.servicios {
    padding: 60px 50px;
    background-color: var(--color-oscuro);
    text-align: center;
}

.servicios h2 {
    position: relative;
    display: inline-block;
    z-index: 1;

    color:rgb(255, 253, 253);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(168, 17, 17);
    margin: 20px 0;
    transition: 0.5s;
}

.servicios h2:hover {
    transform: translateY(-10px);
    border-color: green;
    padding:5px;
    box-shadow: 0 4px 8px blue;
    margin:20px 0;
}


.grid-servicios {
    display: grid;

    /* Crea columnas responsivas automáticamente */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    gap: 30px;
}

.card {
    background: rgb(24, 24, 24);
    color:rgb(255, 253, 253);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(168, 17, 17);
    margin: 25px 0;
    transition: 0.5s;
}

.card:hover {
    transform: translateY(-10px);
    border-color: green;
    padding:30px;
    box-shadow: 0 4px 8px blue;
    margin:25px 0;
}

/* Imagen normal de la tarjeta */
.card > label > img,
.card > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* ================================= */
/* VISOR DE IMAGEN COMPLETA          */
/* ================================= */

/* Ocultamos el checkbox */
#imagen-proyecto1 {
    display: none;
}

/* Cursor de la imagen */
.card > label {
    cursor: pointer;
}

/* Fondo negro que cubre toda la pantalla */
.imagen-grande {
    display: none;

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.9);

    justify-content: center;
    align-items: center;

    z-index: 1000;
}

/* Mostrar la imagen cuando se activa el checkbox */
#imagen-proyecto1:checked ~ .imagen-grande {
    display: flex;
}

/* Imagen COMPLETA */
.imagen-grande img {
    width: auto;
    height: auto;

    max-width: 95vw;
    max-height: 95vh;

    object-fit: contain;
    border-radius: 5px;
    margin: 0;
}